$stant-color: #EE3923;
$success-color: #00CB9B;
$white: #FFF;
$gray-color: #C2C9D0;
$gray-dark-color: #8994A4;
$blue-color: #374B66;
$blue-light-color: #F4F5F7;

 
/* Primary Colors */
$brand-01: #EE5F45;
$brand-02: #0F3C5F;

/* Secondary Colors */
$grass: #29CC97;
$sun: #FDBE03;
$bloody: #FE5050;
$sky: #4C84FF;

/* Neutrals Colors */
$ui-01: #0A1F43;
$ui-02: #354664;
$ui-03: #98A1B0;
$ui-04: #C3C9D1;
$ui-05: #F5F6F7;
$white: #ffffff

/* Extended Colors */