.labelinput {
    margin-bottom: 0.5em;
    color: $ui-02;
    font-weight: bold;
}

.default-input {
    color: $ui-02;
    background-color: $white;
    width: 100%;
    height: 48px;
    border: 1px solid $ui-04;
    border-radius: 3px;
    padding-left: 1em;
    font-size: 1em;

    &:hover {
        border-color: $ui-03;
    }

    &:focus {
        outline: none;
        border-color: $ui-02;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(53,70,100,0.25);
        -moz-box-shadow: 0px 0px 1px 1px rgba(53,70,100,0.25);
        box-shadow: 0px 0px 1px 1px rgba(53,70,100,0.25);
    }

    &:active {
        outline: none;
        border-color: $ui-02;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(53,70,100,0.25);
        -moz-box-shadow: 0px 0px 1px 1px rgba(53,70,100,0.25);
        box-shadow: 0px 0px 1px 1px rgba(53,70,100,0.25);
    }

    &:disabled {
        background: #dddddd;
    }

    &.-loading {
    }

    &.-disabled {
    }

    &.-icon {

    }

}

.inputfile-label{
  white-space: normal;
}

.inputfile{
  display: none !important;
}
